@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

*{
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  font-family: "Genos", sans-serif;                                      
}

.first-section{
  position: relative;
  width: 100%;
  height: 100svh;
}

.painting-link{
  font-size: 7rem;
  font-weight: bolder;
  color: var(--base--100)
}



nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 flex gap-5 justify-center text-white;
}

nav .link {
  @apply flex gap-5 rounded px-4 py-1.5;
  background-color: var(--base--100);
}

.paintings{
  @apply relative h-dvh w-screen overflow-x-hidden;
}

.paintings div{
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
}

.paintings div > h2{ 
  @apply text-3xl font-extrabold text-center;
  color: var(--base--100);
}

.transition-grid{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box{
  position: fixed;
  background-color: var(--base--100);
  opacity: 0;
}

@media (max-width: 1000px){
  .first-section{
    font-size: 2rem;
  }
}


.sticky-cards{
    @apply relative w-full h-full;
}

.sticky-cards h1{
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: -0.35rem;
  line-height: 1.1;
}

.sticky-cards p{
  font-size: 1.125rem;
  font-weight: 500;
}

.sticky-card{
    @apply relative w-full h-svh bg-pink-200 text-purple-800 p-6 flex gap-12 will-change-transform;
}

.sticky-card .img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sticky-card::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

.sticky-card-index{
  flex: 1;
}





.sticky-card-content{
  flex: 4;
  padding-top: 1.5rem;
}

.sticky-card-content-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sticky-card-header{
  width: 75%;
}

/* .sticky-card-img .img{
  aspect-ratio: 5/3;
} */

.sticky-card-copy{
  display: flex;
  gap: 1.5rem;
}

.sticky-card-copy-title{
  flex: 2;
}

.sticky-card-copy-description{
  flex: 4;
}

.sticky-card-copy-title p{
  text-transform: uppercase;
  font-weight: 650;
}

@media (max-width: 1000px){
  .sticky-card{
    flex-direction: column;
    gap: 0;
  }
  .sticky-card-content-wrapper{
    width: 100%;
  }
  .sticky-card-copy{
    flex-direction: column;
    gap: 0.5rem;
  }
  .sticky-card-index{
    flex: 1;
  }
}


/* Add this to your CSS file */
.sticky-card-img {
  position: relative;
  width: 100%;
  aspect-ratio: 5 / 3; /* or fixed height */
  overflow: hidden;
}


.sticky-card-img .img{
  object-fit: cover;
}