@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Genos", sans-serif;
  
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body ul li {
  list-style: none;
}

body a {
  text-decoration: none;
}
/* landing page start */
.landing-page{
  position: relative;
  img{
    width: 100%;
  }

  header{
    padding: 1rem 2.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      font-size: 2.5rem;
      font-weight: 800;
      text-shadow: 2px 2px 4px #052e16;
      color: var(--base--100);
    }

    .btn{
      font-size: 1.5rem;
      cursor: pointer;
    }

    .btn:hover{
      text-shadow: 3px 4px 4px rgb(27, 42, 27);
    }
  }

  .imgs-containers {
    position: relative;  
    width: 100%;
    height: 80vh;         
    overflow: hidden;
  }
  .slider {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease; 
    pointer-events: none;
  }

  .slider.active {
    opacity: 1; 
  }

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
  }

  .slider-bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: 999;
    gap: 10px;
    .name{
      padding: 4px 6px;
      font-size: 1.5rem;
      color: #3D405B;
      border-radius: 2px;
      position: relative;
      display: inline-block;
      width: 100%;
  }}
} 
/* End landing page  */


/* .first-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
} */

/* .painting-link {
  font-size: 7rem;
  font-weight: bolder;
  color: var(--base--100);
} */

nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 flex gap-5 justify-center text-white;
  .link {
  @apply flex gap-5 rounded px-4 py-1.5;
  background-color: var(--base--100);
  }
}

/* Paintings page start */
.paintings {
  @apply relative h-dvh w-screen;
  overflow: hidden;

  div {
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
  }
  div>h2 {
  @apply text-3xl font-extrabold text-center;
  color: var(--base--100);
  }
}
/* Paintings ends */

.transition-grid {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box {
  position: fixed;
  background-color: var(--base--100);
  opacity: 0;
}

@media (max-width: 1000px) {
  .first-section {
    font-size: 2rem;
  }
}

/* Sticky Cards Wrapper */
.sticky-cards-wrapper {
  position: relative;
  width: 100%;

  
  h1 {
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -0.35rem;
    line-height: 1.1;
  }  

  
  .sticky-card {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem 3rem;
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    background-color: rgb(193, 231, 193);
    will-change: transform;
    overflow: hidden;
    display: flex;
  }

  
  .sticky-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 75, 75, 0.5);
    opacity: var(--after-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 2;
  }

  .sticky-card-index {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    z-index: 3;
  }


  .sticky-card-content {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
  }

  
  .image {
    display: flex;
    align-items: center;
  }
  .sticky-card-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sticky-card-text p {
    font-size: 1.5rem;
    line-height: 1.4rem;
    flex: 2;
  }
  
}
/* sticky card end */

/* cards */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
  width: 600px;
  height: 600px;
  position: relative;
  perspective: 500px;
  gap: 10px;
  }


  img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  }

  .card {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  }

  .card1 {
  z-index: 3;
  }

  .card2 {
  transform: translate(-50%, -70%) scale(0.9);
  z-index: 2;
  }

  .card3 {
  transform: translate(-50%, -90%) scale(0.7);
  z-index: 1;
  }
  .container:hover .card1 {
  transform: translate(-80%, -50%) scale(1) rotateY(-40deg);
  }
  .container:hover .card2 {
  transform: translate(-60%, -50%) scale(0.9) rotateY(-40deg);  
  }
  .container:hover .card3 {
  transform: translate(-40%, -50%) scale(0.7) rotateY(-40deg);
  }
  .container:hover {
  transform: scale(1);
  }
  .card:hover {
  margin-top: -50px;
  }

}
/* cards ends */

/* display start */

@utility h3-semibold {
  @apply font-semibold text-xl;
}

@utility base-semibold {
  @apply font-semibold text-base;
}

#performance {
  @apply w-dvw h-full overflow-hidden pt-20 lg:pt-20 flex flex-col items-center relative;

  .wrapper {
    @apply w-7xl 2xl:w-400 h-[50vh] lg:h-screen relative;


    .p1 {
      @apply absolute bottom-1/2 left-[23%] z-1 max-sm:left-[33%];
    }

    .p2 {
      @apply absolute bottom-[40%] right-[17%] z-3 max-sm:right-[37%];
    }

    .p3 {
      @apply absolute bottom-1/4 right-[15%] z-2 max-sm:right-[35%];
    }

    .p4 {
      @apply absolute bottom-[15%] right-[10%] z-1 max-sm:right-[30%];
    }

    .p5 {
      @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
    }

    .p6 {
      @apply absolute bottom-1/4 left-1/4 z-2 max-sm:left-[35%];
    }

    .p7 {
      @apply absolute bottom-[5%] left-[15%] z-3 max-sm:left-[35%];
    }
  }

  .content {
    @apply mx-auto max-w-4xl mt-24 mb-24;

    p {
      @apply lg:h3-semibold base-semibold text-center translate-y-10 opacity-0 px-5;

    }
  }
}
/* display ends */
