@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Genos", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.hero-container{
  width: 100%;
  height: 100vh;
  background-color: rgb(5, 46, 22);
  color: rgb(198, 199, 196);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;

  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


  .text-content{
    /* text-align: center; */
    padding-left: 5rem;
    padding-right: 5rem;
    h1{
      font-size: 9rem;
      line-height: 6rem;
    }
    p{
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 1rem;
    }
    a{
      border: 1px solid rgb(162, 153, 158);
      font-size: 1.5rem;
      border-radius: 10px;
      padding: 8px;
      display: inline-block;
    }
    span{
      color: rgb(132, 106, 106);
    }
  }

  .imgs{
    position: relative;
    border:1px solid pink;
    width: 100%;
    height: 70vh;
    
    .img{
      position: absolute;
      margin: 10px;
    }

    .img1{
      background-color: bisque;
      top: 30;
      left: 40;
      width: 80%;
      height: 360px;
    }

    .img2{
      height: 300px;
      width: 60%;
      background-color: aquamarine;
      left: -10;
      bottom: 2;
    }

    .img3{
      height: 220px;
      width: 50%;
      background-color: brown;
      bottom: 2;
      right: 40;
    }
  }
}


.first-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.painting-link {
  font-size: 7rem;
  font-weight: bolder;
  color: var(--base--100);
}

nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 flex gap-5 justify-center text-white;
}

nav .link {
  @apply flex gap-5 rounded px-4 py-1.5;
  background-color: var(--base--100);
}

.paintings {
  @apply relative h-dvh w-screen;
  overflow: hidden;
}

.paintings div {
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
}

.paintings div > h2 {
  @apply text-3xl font-extrabold text-center;
  color: var(--base--100);
}

.transition-grid {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box {
  position: fixed;
  background-color: var(--base--100);
  opacity: 0;
}

@media (max-width: 1000px) {
  .first-section {
    font-size: 2rem;
  }
}

/* Sticky Cards Wrapper */
.sticky-cards-wrapper { 
  position: relative; 
  width: 100%; 
} 
.sticky-cards-wrapper h1 { 
  font-size: 7rem; 
  font-weight: 800; 
  letter-spacing: -0.35rem; 
  line-height: 1.1; 
} 
/* Individual Sticky Card */ 
.sticky-card { 
  position: relative; 
  width: 100%; 
  height: 100vh; 
  padding: 2rem 3rem; 
  display: flex; 
  align-items: flex-start; 
  gap: 4rem; 
  background-color: rgb(193, 231, 193); 
  will-change: transform; 
  overflow: hidden; 
  display: flex; 
} 

.sticky-card::after { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(76, 75, 75, 0.5); 
  opacity: var(--after-opacity, 0); 
  transition: opacity 0.1s ease; 
  pointer-events: none; 
  z-index: 2; 
} 

.sticky-card-index { 
  flex: 1; 
  flex-shrink: 0; 
  display: flex; 
  align-items: flex-start; 
  z-index: 3; 
}

.sticky-card-content{ 
  padding: 0 15px; 
  display: flex; 
  /* flex-wrap: wrap;  */
  align-items: center; 
  /* justify-content: space-around;  */
  justify-content: flex-start;
  gap: 5rem; 
} 
.sticky-card-content img{ 
  width: 100%; 
  max-width: 400px; 
  object-fit: cover; 
  vertical-align: middle; 
}

.sticky-card-text{ 
  flex: 2; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
} 
.sticky-card-text p{ 
  font-size: 1.5rem; 
  line-height: 1.4rem; 
  flex: 2; 
}
.image {
  display: flex;
  align-items: center;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.cards .container{
  width: 600px;
  height: 600px;
  position: relative;
  perspective: 500px;
  gap:10px;
}


.cards img{
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.cards .card{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
}
.cards .card1{
  z-index: 3;
}
.cards .card2{
  transform: translate(-50%, -70%) scale(0.9);
  z-index: 2;
}
.cards .card3{
  transform: translate(-50%, -90%) scale(0.7);
  z-index: 1;
}

.cards .container:hover .card1{
  transform: translate(-80%, -50%) scale(1) rotateY(-40deg);
}
.cards .container:hover .card2{
  transform: translate(-60%, -50%) scale(0.9) rotateY(-40deg);
}
.cards .container:hover .card3{
  transform: translate(-40%, -50%) scale(0.7) rotateY(-40deg);
}

.cards .container:hover{
  transform: scale(1);
}

.card:hover{
  margin-top: -50px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}
@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}



#performance {
    @apply w-dvw h-full overflow-hidden pt-20 lg:pt-20 flex flex-col items-center relative;

    h2 {
      @apply font-semibold text-3xl lg:text-6xl text-white max-w-2xl text-center;
    }

    .wrapper {
      @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen relative;

      img {
        @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
      }

      .p1 {
        @apply absolute bottom-1/2 left-[23%] z-1 max-sm:left-[33%];
      }

      .p2 {
        @apply absolute bottom-[40%] right-[17%] z-3 max-sm:right-[37%];
      }

      .p3 {
        @apply absolute bottom-1/4 right-[15%] z-2 max-sm:right-[35%];
      }

      .p4 {
        @apply absolute bottom-[15%] right-[10%] z-1 max-sm:right-[30%];
      }

      .p5 {
        @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
      }

      .p6 {
        @apply absolute bottom-1/4 left-1/4 z-2 max-sm:left-[35%];
      }

      .p7 {
        @apply absolute bottom-[5%] left-[15%] z-3 max-sm:left-[35%];
      }
    }

    .content {
      @apply mx-auto max-w-3xl mt-24;

      p {
        @apply lg:h3-semibold base-semibold text-center translate-y-10 opacity-0 px-5;
      }
    }
  }

  /* #scroll-animation{
    @apply w-full h-full;
    p, a{
      @apply text-[16px] font-normal text-black;
    }

    img{
      @apply w-full h-full object-cover;
    }
    section {
      @apply w-full p-8 border-b-green-900 border border-solid;
    }
    .row{
      @apply w-full flex gap-8;
    }
    .mask{
  @apply absolute top-0 left-0 w-full h-full;
}

    .img{
      @apply relative aspect-4/5 w-full h-full;
    }

    .hero h1{
      margin-top: 3em;
      text-align: center;
      text-transform: uppercase;
      font-size: 8.7vw;
      font-weight: 500;
      letter-spacing: -0.02vw;
    }

    .info{
      display: flex;
      justify-content: flex-end;
      gap: 2em;
    }

    .info p{
      width: 25%;
    }
    .hero-imgs{
      margin-top: 10em;
    }

    .clients-imgs{
    margin-top: 4em;
  }

  .clients-imgs .row{
    height: 700px;
  }

  .product-filters{
    padding-bottom: 1em;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .products{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .about{
    display: flex;
  }
  .about p{
    margin-top: 8em;
    flex: 1px;
  }

  .img-1 .mask, .img-6 .mask, .img-12 .mask{
    background: url("https://media.timeout.com/images/105222683/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-2 .mask, .img-7 .mask, .img-14 .mask{
    background: url("https://media.timeout.com/images/105223155/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-3 .mask, .img-15 .mask{
    background: url("https://media.timeout.com/images/105222673/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-4 .mask, .img-10 .mask{
    background: url("https://media.timeout.com/images/105222677/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-8 .mask, .img-17 .mask{
    background: url("https://media.timeout.com/images/105293264/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-9 .mask, .img-13 .mask{
    background: url("https://media.timeout.com/images/103166750/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  } */




  
  [data-text-center] > .text{
    font-size: max(44px, min(3.472vw, 66.5px));
    letter-spacing: -0.05em;
  }