@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Genos", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.first-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.painting-link {
  font-size: 7rem;
  font-weight: bolder;
  color: var(--base--100);
}

nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 flex gap-5 justify-center text-white;
}

nav .link {
  @apply flex gap-5 rounded px-4 py-1.5;
  background-color: var(--base--100);
}

.paintings {
  @apply relative h-dvh w-screen;
  overflow: hidden;
}

.paintings div {
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
}

.paintings div > h2 {
  @apply text-3xl font-extrabold text-center;
  color: var(--base--100);
}

.transition-grid {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box {
  position: fixed;
  background-color: var(--base--100);
  opacity: 0;
}

@media (max-width: 1000px) {
  .first-section {
    font-size: 2rem;
  }
}

/* Sticky Cards Wrapper */
.sticky-cards-wrapper { 
  position: relative; 
  width: 100%; 
} 
.sticky-cards-wrapper h1 { 
  font-size: 7rem; 
  font-weight: 800; 
  letter-spacing: -0.35rem; 
  line-height: 1.1; 
} 
/* Individual Sticky Card */ 
.sticky-card { 
  position: relative; 
  width: 100%; 
  height: 100vh; 
  padding: 2rem 3rem; 
  display: flex; 
  align-items: flex-start; 
  gap: 4rem; 
  background-color: pink; 
  will-change: transform; 
  overflow: hidden; 
  display: flex; 
} 

.sticky-card::after { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(76, 75, 75, 0.5); 
  opacity: var(--after-opacity, 0); 
  transition: opacity 0.1s ease; 
  pointer-events: none; 
  z-index: 2; 
} 

.sticky-card-index { 
  flex: 1; 
  flex-shrink: 0; 
  display: flex; 
  align-items: flex-start; 
  z-index: 3; 
}

.sticky-card-content{ 
  padding: 0 15px; 
  display: flex; 
  /* flex-wrap: wrap;  */
  align-items: center; 
  /* justify-content: space-around;  */
  justify-content: flex-start;
  gap: 5rem; 
} 
.sticky-card-content img{ 
  width: 100%; 
  max-width: 400px; 
  object-fit: cover; 
  vertical-align: middle; 
}
 
.sticky-card-text{ 
  flex: 2; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
} 
.sticky-card-text p{ 
  font-size: 1.5rem; 
  line-height: 1.4rem; 
  flex: 2; 
}
.image {
  display: flex;
  align-items: center;
}
