@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

*{
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  font-family: "Genos", sans-serif;                                      
}

.nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 text-white;
}

.nav ul {
  @apply flex gap-5;
}

.nav li {
  background-color: var(--base--100);
  border-radius: 0.25rem;
}

.nav li{
  @apply block px-4 py-1.5;
}

.paintings{
  @apply relative h-dvh w-screen overflow-hidden;
}

.paintings div{
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
}

.paintings div > h2{
  @apply text-3xl font-extrabold;
  color: var(--base--100);
}

.transition-grid{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box{
  position: fixed;
  background-color: black;
  opacity: 0;
}