@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base--100: #052e16;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Genos", sans-serif;
  
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body ul li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.landing-page{
  position: relative;
  img{
    width: 100%;
  }

  header{
    padding: 1rem 2.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      font-size: 2.5rem;
      font-weight: 800;
      text-shadow: 2px 2px 4px #052e16;
      color: var(--base--100);
    }

    .btn{
      font-size: 1.5rem;
      cursor: pointer;
    }

    .btn:hover{
      text-shadow: 3px 4px 4px rgb(27, 42, 27);
    }
  }

  .imgs-containers {
    position: relative;  
    width: 100%;
    height: 80vh;         
    overflow: hidden;
  }
  .slider {
    position: absolute;
    inset: 0;
    opacity: 0;  /* Add this - start hidden */
    transition: opacity 1s ease;  /* Add duration (0.5s) and specify property */
    pointer-events: none;
  }

.slider.active {
  opacity: 1;  /* Add this - show when active */
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.slider-bottom{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
  margin: auto;
  z-index: 999;
  gap: 10px;
  .name{
    padding: 4px 6px;
    font-size: 1.5rem;
    color: #3D405B;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    width: 100%;
    
  }}

}


.hero-container {
  color: rgb(198, 199, 196);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
  .loader {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: #272626;
  }

  .loader h1 {
    font-size: 250px;
    font-family: Cosi Azure;
    position: absolute;
    top: -50px;
    left: -500px;
  }

  .loader h2 {
    font-size: 250px;
    font-family: Cosi Azure;
    position: absolute;
    bottom: -70px;
    right: -130px;
  }

  img {
    width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .loader {
    position: absolute;
    font-size: 200px;
    color: #47815f;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

    h1 {
      top: -50px;
      position: absolute;
    }

    h2 {
      bottom: -70;
      position: absolute;

    }
  } */

  .wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 20px;
    padding-top: 30px;


  }


  .wrapper .content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper .content .h1 {
    width: 100%;
    overflow: hidden;
  }


  .wrapper .content .h1 h1 {
    font-size: 130px;
    line-height: 90%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .wrapper .content p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 109%;
    width: 70%;
    padding-top: 20px;
  }


  .wrapper .content a {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 19px;
    padding: 7px 20px;
    font-size: 19px;
    margin: 30px 0px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: .5s;
    transition: .5s;
  }

  .wrapper .img {
    height: 50vh;
    position: relative;
    margin-left: 35px;
  }

  .wrapper .img .subimg {
    width: 89%;
    height: 360px;
    background: #fff;
    position: absolute;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 15px #000,
      0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000,
      0px 0px 15px #000;
    overflow: hidden;
    top: 80;
  }

  .img .two{
    bottom: 120;
    background-color: pink;
  }

  .wrapper .img .subimg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }


  .wrapper .img .subimg.one .bg {
    width: 100%;
    height: 100%;
    background: gray;
    position: absolute;
    z-index: 9;
    top: 0;
  }

  .wrapper .img .subimg.two {
    width: 64%;
    height: 250px;
    position: absolute;
    left: -50px;
    display: inline-block;
    top: 90;
  }

  .wrapper .img .subimg.two .bg2 {
    width: 100%;
    height: 100%;
    background:rgb(21, 212, 97);
    position: absolute;
    z-index: 9;
    top: 0;
  }

  .wrapper .img .subimg.three {
    width: 40%;
    height: 170px;
    position: absolute;
    right: 130px;
    bottom: 20;
  }

  .wrapper .img .subimg.three .bg3 {
    width: 100%;
    height: 100%;
    background:rgb(222, 34, 34);
    position: absolute;
    z-index: 9;
    top: 0;
  }


  .text-content {
    /* text-align: center; */
    padding-left: 5rem;
    padding-right: 5rem;

    h1 {
      font-size: 9rem;
      line-height: 6rem;
    }

    p {
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 1rem;
    }

    a {
      border: 1px solid rgb(162, 153, 158);
      font-size: 1.5rem;
      border-radius: 10px;
      padding: 8px;
      display: inline-block;
    }

    span {
      color: rgb(132, 106, 106);
    }
  }

  .imgs {
    position: relative;
    border: 1px solid pink;
    width: 100%;
    height: 70vh;
    margin-left: 35px;

    /* .img{
      position: absolute;
      margin: 10px;
      width: 85%;
      height: 360px;
    } */


    .img {
      position: absolute;
      margin: 10px;
      width: 85%;
      height: 360px;

      position: relative;
      /* critical */
      overflow: hidden;
      /* keeps overlay inside image */
    }


    .img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }


    .img .bg {
      position: absolute;
      inset: 0;
      /* shorthand for top/left/right/bottom: 0 */

      background-color: rgba(128, 128, 128, 0.55);
      /* gray overlay */
      z-index: 2;
    }

    .img1 {
      position: absolute;
      /* background-color: bisque; */
      top: 30;
      left: 50;
      width: 80%;
      height: 360px;
    }


    .img2 {
      height: 250px;
      width: 64%;
      position: absolute;
      background-color: aquamarine;
      left: -20;
      bottom: 2;
    }

    .img3 {
      height: 220px;
      width: 50%;
      background-color: brown;
      bottom: -10;
      right: 40;
    }
  }
}


.first-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.painting-link {
  font-size: 7rem;
  font-weight: bolder;
  color: var(--base--100);
}

nav {
  @apply fixed top-10 left-1/2 -translate-x-1/2 z-50 flex gap-5 justify-center text-white;
}

nav .link {
  @apply flex gap-5 rounded px-4 py-1.5;
  background-color: var(--base--100);
}

.paintings {
  @apply relative h-dvh w-screen;
  overflow: hidden;
}

.paintings div {
  @apply absolute z-20 bottom-10 left-1/2 -translate-x-1/2 justify-center bg-white/70 p-4 inline-block rounded;
}

.paintings div>h2 {
  @apply text-3xl font-extrabold text-center;
  color: var(--base--100);
}

.transition-grid {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.transition-box {
  position: fixed;
  background-color: var(--base--100);
  opacity: 0;
}

@media (max-width: 1000px) {
  .first-section {
    font-size: 2rem;
  }
}

/* Sticky Cards Wrapper */
.sticky-cards-wrapper {
  position: relative;
  width: 100%;
}

.sticky-cards-wrapper h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: -0.35rem;
  line-height: 1.1;
}

/* Individual Sticky Card */
.sticky-card {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  background-color: rgb(193, 231, 193);
  will-change: transform;
  overflow: hidden;
  display: flex;
}

.sticky-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 75, 75, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

.sticky-card-index {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  z-index: 3;
}

.sticky-card-content {
  padding: 0 15px;
  display: flex;
  /* flex-wrap: wrap;  */
  align-items: center;
  /* justify-content: space-around;  */
  justify-content: flex-start;
  gap: 5rem;
}

.sticky-card-content img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
}

.sticky-card-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky-card-text p {
  font-size: 1.5rem;
  line-height: 1.4rem;
  flex: 2;
}

.image {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.cards .container {
  width: 600px;
  height: 600px;
  position: relative;
  perspective: 500px;
  gap: 10px;
}


.cards img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.cards .card {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
}

.cards .card1 {
  z-index: 3;
}

.cards .card2 {
  transform: translate(-50%, -70%) scale(0.9);
  z-index: 2;
}

.cards .card3 {
  transform: translate(-50%, -90%) scale(0.7);
  z-index: 1;
}

.cards .container:hover .card1 {
  transform: translate(-80%, -50%) scale(1) rotateY(-40deg);
}

.cards .container:hover .card2 {
  transform: translate(-60%, -50%) scale(0.9) rotateY(-40deg);
}

.cards .container:hover .card3 {
  transform: translate(-40%, -50%) scale(0.7) rotateY(-40deg);
}

.cards .container:hover {
  transform: scale(1);
}

.card:hover {
  margin-top: -50px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}



#performance {
  @apply w-dvw h-full overflow-hidden pt-20 lg:pt-20 flex flex-col items-center relative;

  h2 {
    @apply font-semibold text-3xl lg:text-6xl text-white max-w-2xl text-center;
  }

  .wrapper {
    @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen relative;

    img {
      @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
    }

    .p1 {
      @apply absolute bottom-1/2 left-[23%] z-1 max-sm:left-[33%];
    }

    .p2 {
      @apply absolute bottom-[40%] right-[17%] z-3 max-sm:right-[37%];
    }

    .p3 {
      @apply absolute bottom-1/4 right-[15%] z-2 max-sm:right-[35%];
    }

    .p4 {
      @apply absolute bottom-[15%] right-[10%] z-1 max-sm:right-[30%];
    }

    .p5 {
      @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
    }

    .p6 {
      @apply absolute bottom-1/4 left-1/4 z-2 max-sm:left-[35%];
    }

    .p7 {
      @apply absolute bottom-[5%] left-[15%] z-3 max-sm:left-[35%];
    }
  }

  .content {
    @apply mx-auto max-w-3xl mt-24;

    p {
      @apply lg:h3-semibold base-semibold text-center translate-y-10 opacity-0 px-5;
    }
  }
}

/* #scroll-animation{
    @apply w-full h-full;
    p, a{
      @apply text-[16px] font-normal text-black;
    }

    img{
      @apply w-full h-full object-cover;
    }
    section {
      @apply w-full p-8 border-b-green-900 border border-solid;
    }
    .row{
      @apply w-full flex gap-8;
    }
    .mask{
  @apply absolute top-0 left-0 w-full h-full;
}

    .img{
      @apply relative aspect-4/5 w-full h-full;
    }

    .hero h1{
      margin-top: 3em;
      text-align: center;
      text-transform: uppercase;
      font-size: 8.7vw;
      font-weight: 500;
      letter-spacing: -0.02vw;
    }

    .info{
      display: flex;
      justify-content: flex-end;
      gap: 2em;
    }

    .info p{
      width: 25%;
    }
    .hero-imgs{
      margin-top: 10em;
    }

    .clients-imgs{
    margin-top: 4em;
  }

  .clients-imgs .row{
    height: 700px;
  }

  .product-filters{
    padding-bottom: 1em;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .products{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .about{
    display: flex;
  }
  .about p{
    margin-top: 8em;
    flex: 1px;
  }

  .img-1 .mask, .img-6 .mask, .img-12 .mask{
    background: url("https://media.timeout.com/images/105222683/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-2 .mask, .img-7 .mask, .img-14 .mask{
    background: url("https://media.timeout.com/images/105223155/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-3 .mask, .img-15 .mask{
    background: url("https://media.timeout.com/images/105222673/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-4 .mask, .img-10 .mask{
    background: url("https://media.timeout.com/images/105222677/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-8 .mask, .img-17 .mask{
    background: url("https://media.timeout.com/images/105293264/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  .img-9 .mask, .img-13 .mask{
    background: url("https://media.timeout.com/images/103166750/1372/772/image.webp") no-repeat 50% 50%;
    background-size: cover;
  }
  } */





[data-text-center]>.text {
  font-size: max(44px, min(3.472vw, 66.5px));
  letter-spacing: -0.05em;
}